body{
    background-color: lime;
}

#score{
    font-size: 30px;
    margin-left: 250px;
}

#time{
    font-size: 30px;
    float: right;
    margin-right: 250px;
}

p{
    font-size: 20px;
}